{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div align="center">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.tag_content.label }} {{ form.tag_content(size=20) }}<br>
        {{ form.submit()}}
    </form>


</div>

 <div>
     <h2>Tag List</h2>
        <div align="center"><h5> 注意:删除tag的同时，会删除其相关的todo</h5></div>
        {% if alltags %}
            <table class="table">
                <thead>
                    <tr>
                        <th>tag_content</th>


                        <th>operate</th>
                    </tr>
                </thead>
                <tbody>
                   {% for tag in alltags %}
                        <tr>
                            <td>{{ tag.tag_content }}</td>



                            <td><a href="/delete_tag/{{ tag.id }}" class="btn btn-danger">Delete</a></td>

                        </tr>
                   {% endfor %}
                </tbody>
            </table>
    {% else %}
            <h3 class="text-info">No tags,please add</h3>
    {% endif %}

    </div>
{% endblock %}
