{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Todo{% endblock %}


{% block content %}
<div align="center">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.todo_content.label }} {{ form.todo_content(size=20) }}<br>
        {{form.select_tag.label}}{{form.select_tag()}}<br>
        {{ form.submit()}}
    </form>


</div>

 <div>
        <h2>Todo List</h2>
        {% if alltodos %}
            <table class="table">
                <thead>
                    <tr>
                        <th>content</th>
                        <th>tag</th>>
                        <th>status</th>
                        <th>time</th>
                        <th>operate</th>
                    </tr>
                </thead>
                <tbody>
                   {% for todo in alltodos %}
                        <tr>
                            <td>{{ todo.todo_content }}</td>
                            <td>{{todo.tag.tag_content}}</td>
                            <td>
                                {% if todo.status == 1 %}
                                已完成
                                {% else %}
                                未完成
                                {% endif %}
                            </td>
                            <td>{{ todo.time.strftime('%H:%M %d-%m-%Y') }}</td>
                            {% if todo.status == 1 %}
                                <td><a href="/undone/{{ todo.id }}" class="btn btn-primary">Undone</a></td>
                            {% else %}
                                <td><a href="/done/{{ todo.id }}" class="btn btn-primary">Done</a></td>
                            {% endif %}
                            <td><a href="/delete/{{ todo.id }}" class="btn btn-danger">Delete</a></td>

                        </tr>
                   {% endfor %}
                </tbody>
            </table>
    {% else %}
            <h3 class="text-info">No todos,please add</h3>
    {% endif %}

    </div>
{% endblock %}
